/* Some basic style for body and adjusting container location */
body{
    margin: 0;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling main container for stopwatch App.. */
#container{
    width: 60%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

/* Class style which displays blinking shadow when clock is ticking on Start */
/* We are toggling this class on button click using JS */
.watch-start-shadow{
    animation: blinkShadow 2s ease-in-out infinite;
}

/* keyframes for above animation */
@keyframes blinkShadow {
    from{
        box-shadow: 0 0 10px 2px rgba(229, 1, 1, 1) inset;
    }
    50%{
        box-shadow: 0 0 10px 2px rgba(229, 1, 1, 0) inset;
    }
    to{
        box-shadow: 0 0 10px 2px rgba(229, 1, 1, 1) inset;
    }
}

/* Styling heading of app... */
/* Using flex to align items to center */
#heading{
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading h1{
    color: rgb(1, 1, 117);
    text-align: center;
    font-size: 3rem;
    margin: 2%;
}

/* Styling stpwatch icon from heading */
.watch-icon{
    font-size: xx-large;
    color: rgb(1, 1, 117);
    margin-right: 1rem;
}


/* Class styles for Stopwatch icon animation on stopwatch start
Toggling this class using JS */
.watch-start-movingWatch{
    transition: all 0.5s;
    animation: alert 1s ease-in-out infinite;
}

/* Keyframes for above animation */
@keyframes alert {
    from{
        transform: rotate(0deg) scale(1.5);
    }

    10%{
        transform: rotate(-10deg) scale(1.5);
    }

    20%{
        transform: rotate(0deg) scale(1.5);
    }

    30%{
        transform: rotate(10deg) scale(1.5);
    }

    40%{
        transform: rotate(0deg) scale(1.5);
    }

    50%{
        transform: rotate(-8deg) scale(1.5);
    }

    60%{
        transform: rotate(0deg) scale(1.5);
    }

    70%{
        transform: rotate(8deg) scale(1.5);
    }

    80%{
        transform: rotate(0deg);
    }

    90%{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(0deg);
    }
}


/* Styling display and buttons for stopwatch */
/* Setting width height for div */
#app-body{
    width: 100%;
    height: 85%;
    margin: 0;
    box-sizing: border-box;
}

/* Styling display element  */
/* kept margin auto to align element to center horizontally
Used display flex and Justify content center to place inner elements to center vertically */
#display{
    height: 35%;
    width: 50%;
    margin: 2% auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(253, 127, 2);
}

/* Styling div element within display element */
/* used text align center to align span elements to center */
#display div{
    text-align: center;
    font-size: 60px;
    padding: 1rem;
    box-sizing: border-box;
    color: white;
}

/* Overriding styles applied from above rules
like fontsize for displaying miliSconds below with smaller font size */
#mili-container{
    font-size: 20px;
    margin-top: 2%;
    text-align: right;
    padding-right: 3rem;
}

.watch-digit{
    transition: all 0.5s;
}

/* Buttons styling starts here */
/* Using flex to align buttons to center */
#btn-holder{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Few common styles for all buttons */
#btn-holder button{
    font-size: 2rem;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 20px;
    border: none;
    color: white;
}

/* Red background for start button */
.red-bg{
    background-color: red;
}

.red-bg:hover{
    background-color: rgb(180, 1, 1);
}

/* Green background for Stop button */
.green-bg{
    background-color: green;
}

.green-bg:hover{
    background-color: rgb(2, 104, 2);
}

/* Yellow background for Reset button */
.yellow-bg{
    background-color: rgb(237, 194, 2);
}

.yellow-bg:hover{
    background-color: rgb(176, 144, 1);
}

/* Grey background for start button after clicked until stop resets or stops
Toggling this class using JS */
.grey-bg{
    background-color: lightgrey;
}

.grey-bg:hover{
    background-color: grey;
}


/* Last section styling which contains list of laps */
#laps{
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    overflow: scroll;
}

/* Hiding Scrollbar */
#laps::-webkit-scrollbar{
    display: none;
    
}

/* Preventing default appearance of Oredred List
Using customised one by setting counter-reset: item */
#laps ol{
    height: 100%;
    counter-reset: item;
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling individual li element */
#laps ol li{
    display: block;
    font-size: 1.2rem;
    padding: 0.4rem;
    margin: 0.5rem;
    background-color: rgb(134, 184, 255);
    color: rgb(3, 3, 3);
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styling before for customised bullets for Ordered list */
#laps ol li::before{
    content: "Lap "counter(item) ":";
    counter-increment: item;
    display: inline-block;
    margin: 0 1.5rem;
}


/* Media Queries for managing overflow on smaller screen sizes */
@media screen and (max-width: 1100px) {

    #display{
        width: 70%;
    }

    #display div{
        font-size: 50px;
    }

    #mili-container{
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    #btn-holder button{
        font-size: 1rem;
    }

    #container{
        width: 80%;
    }

    #display{
        width: 70%;
    }
}
